.iconsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
    cursor: pointer;
    transition: 0.4s;
}

.icon:hover {
    margin-bottom: 30px;
}

.white {
    background-color: white;
}

.dark {
    background-color: black;
}