.MovieCard {
    width: 400px;
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 2px;
    backdrop-filter: blur(10px);
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 0, 0);
    border: 1px solid black;
    margin: auto;
    width: 20px;
    color: white;
    padding: 5px;
    cursor: pointer;
}